@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Rubik+Glitch&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-gray-900 text-gray-200 md:text-sm ;
  }
  .radio {
    @apply w-4 h-4 text-blue-600 focus:ring-blue-600 ring-offset-gray-800 focus:ring-2 bg-gray-700 border-gray-600;
  }
  .radio-label {
    @apply ml-2 text-sm text-gray-300;
  }
}