@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=Rubik+Glitch&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="radio"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}
input[type="checkbox"]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M12.207 4.793a1 1 0 010 1.414l-5 5a1 1 0 01-1.414 0l-2-2a1 1 0 011.414-1.414L6.5 9.086l4.293-4.293a1 1 0 011.414 0z'/%3e%3c/svg%3e");
}
@layer base {
  body {
    @apply bg-gray-900 text-gray-200 text-sm;
  }
  input[type="file"] {
    @apply hidden;
  }
  input[type="radio"],
  input[type="checkbox"] {
    @apply appearance-none border bg-gray-700 border-gray-600 w-4 h-4 min-w-[1rem] text-blue-600 focus:ring-white ring-offset-gray-800 focus:ring-2;
  }
  input[type="radio"] {
    @apply rounded-full;
  }
  input[type="radio"]:checked,
  input[type="checkbox"]:checked {
    @apply border-transparent bg-current bg-center bg-[length:100%_100%] bg-no-repeat;
  }
  .file-input {
    @apply block max-w-max cursor-pointer mb-4 py-2.5 px-5 bg-gray-800 hover:bg-gray-700;
  }
  .radio-label {
    @apply ml-2 text-sm text-gray-300;
  }
}
